<header class="container">
	<nav class="navbar navbar-default" role="navigation">
		<section class="container-fluid">
			<div class="navbar-header">
	            <a class="navbar-brand" href="/">
	                <span class="glyphicon glyphicon glyphicon glyphicon-tasks"></span>
	                TOSAP+
	            </a>
        	</div><!-- branding -->

        	<ul class="nav navbar-nav navbar-right">
        		<% if (!currentUser) { %>
        			<li><a href="/login">Sign In</a></li>
        		<% } else { %> 
        			<li><a href="/logout">Sign Out</a></li>
        		<% }; %>
			</ul><!-- nav -->
		</section><!-- layout -->	
	</div><!-- hero -->	
</header>